* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --border-color: #fff;
  --font-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container { 
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem;
  padding-top: 4%;
}

h2 {
  font-size: 2em;
  line-height: 1.1;
  font-weight: 650;
}
::-webkit-input-placeholder {
  color: #fff;
}

.groupIB {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  height: auto;

  & input {
    width: 12rem;
    background-color: transparent;
  }
  
  & button {
    background-color: #2C2C2C;
    height: 100%;
    cursor: pointer;

  }

}
.Btn {
  cursor: pointer
}
 button, input{
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  font-size: .85rem;
  font-weight: 400;
  font-family: inherit;
  transition: background-color 0.25s;

}
button:hover {
  background-color: #545454;
}

.boards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 3rem;
  gap: 2rem;

}

.boardColumn {
  background-color: #333;
  padding: 1.5rem;
  border-radius: 0.5rem;
  height: 70vh;
  overflow-y: auto;
}

.boardColumn h3 {
  margin-bottom: 1rem;
}

.boardColumn h4 {
  font-size: 1rem;
  font-weight: 400;
}
.boardColumn p {
  margin-top: .8rem;
  font-size: .8rem;
  font-weight: 300;
}

.boardColumn div {
  background-color: #444;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}


.todo-bg{
  background-color: #EC221F !important;
}

.doing-bg{
  background-color: #7678D1 !important;
} 

.done-bg {
  background-color: #00A88B !important;
}

.namePriority {
  font-size: 9rem;
  border: 1px solid #fff;
  width: 100%;
  max-width: 3.5rem;
  text-align: center;
}